<!-- wp:template-part {"slug":"header","tagName":"header","className":"an-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"an-site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group an-site-main">

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-featured-image {"isLink":false} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"an-site-footer"} /-->
