<!-- wp:template-part {"slug":"header","tagName":"header","className":"an-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"an-site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group an-site-main">

	<!-- wp:template-part {"slug":"post-header","tagName":"div","className":"an-post-header"} /-->

	<!-- wp:post-featured-image {"isLink":false,"align":"wide","style":{"border":{"radius":"10px"}}} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:template-part {"slug":"post-footer","tagName":"div","className":"an-post-footer"} /-->

	<!-- wp:comments {"className":"an-entry-comments"} -->
	<div class="wp-block-comments an-entry-comments">
		<!-- wp:comments-title /-->
		<!-- wp:comment-template -->
			<!-- wp:comment-author-name /-->
			<!-- wp:comment-date /-->
			<!-- wp:comment-content /-->
		<!-- /wp:comment-template -->
		<!-- wp:comments-pagination -->
			<!-- wp:comments-pagination-previous /-->
			<!-- wp:comments-pagination-numbers /-->
			<!-- wp:comments-pagination-next /-->
		<!-- /wp:comments-pagination -->
		<!-- wp:post-comments-form /-->
	</div>
	<!-- /wp:comments -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"an-site-footer"} /-->
